
<div class="justify-content-center text-center">
    <h1>Bienvenidos a la pagina de: @Nombre </h1>
    <h2 style="font-family:'Cedarville Cursive',cursive; color:aquamarine;">Programa tus sueños, construye tu realidad.</h2>
</div>
 
@code{
    [Parameter]
    public string? Nombre {get;set;}
}